
body {
background-color:#EFEFF1;
}

p, ul, table {
color: #444;
font-family: "Droid Sans",arial,helvetica,sans-serif;
font-size: 11pt;
outline: none;
margin-left:20px;
margin-right:20px;
}

a {
color:#E15200;
outline:medium none;
text-decoration:none;
}
a:hover {
    border-bottom: 4px solid #DDD;
    color: #444;
    padding: 2px 0 1px 0;
    text-decoration: none;
}

.heading {
    border-bottom: 4px solid #DDD;
    padding: 2px 0 1px 0;
}

ul {
    margin-left:20px;
}

table {
    border-top: 1px solid;
    border-right: 1px solid;
}

td {
    border-bottom: 1px solid;
    border-left: 1px solid;
}

thead {
    background-color: #bbb;
}

.hidden {
display: none;
}
